*.class
*.output
build/
dist/
*~
src/JavaUI/build.temp/
src/PLASMA/NDDL/base/.cache/
*_g_rt
*_o_rt
*_p_rt
*_g
*_o
*_p
*_g.o
*_o.o
*_p.o
src/PLASMA/System/base/swig/psengine/
src/PLASMA/NDDL/base/NDDL3*
src/PLASMA/NDDL/base/java/nddl/NddlLexer.java
src/PLASMA/NDDL/base/java/nddl/NddlLexer.smap
src/PLASMA/NDDL/base/java/nddl/NddlParser.java
src/PLASMA/NDDL/base/java/nddl/NddlParser.smap
src/PLASMA/NDDL/base/java/nddl/NddlTokenTypes.java
src/PLASMA/NDDL/base/java/nddl/NddlTokenTypes.txt
src/PLASMA/NDDL/base/java/nddl/NddlTreeParser.java
src/PLASMA/NDDL/base/java/nddl/NddlTreeParser.smap
src/PLASMA/NDDL/base/java/nddl/NddlTreeParserTokenTypes.java
src/PLASMA/NDDL/base/java/nddl/NddlTreeParserTokenTypes.txt
Debug.cfg
src/PLASMA/System/base/PSEngine_wrap.cc
src/PLASMA/System/base/PSEngine_wrap.h
src/PLASMA/TinyXml/test/demotest.xml
src/PLASMA/TinyXml/test/test5.xml
src/PLASMA/TinyXml/test/test6.xml
src/PLASMA/TinyXml/test/textfile.txt
src/PLASMA/Utils/test/writeTest.xml
src/Java/PSEngine/generated/*
\#*#
