<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="nddl"
            id="EuropaPlugin.nddlType"
            name="%content-type.name.nddl"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ops.ui"
            name="%category.name.europa">
      </category>
      <view
            category="org.ops.ui"
            class="org.ops.ui.schemabrowser.swt.SchemaView"
            icon="icons/europa_empty.png"
            id="org.ops.ui.schemabrowser.swt.SchemaView"
            name="%view.name.schema">
      </view>
      <view
            category="org.ops.ui"
            class="org.ops.ui.solver.swt.SolverView"
            icon="icons/run_nddl.png"
            id="org.ops.ui.solver.swt.SolverView"
            name="%view.name.solver">
      </view>
      <view
            category="org.ops.ui"
            class="org.ops.ui.solver.swt.StatisticsChartsView"
            icon="icons/europa_empty.png"
            id="org.ops.ui.solver.swt.StatisticsView"
            name="%view.name.statistics"
            restorable="true">
      </view>
      <view
            category="org.ops.ui"
            class="org.ops.ui.solver.swt.DecisionsView"
            icon="icons/europa_empty.png"
            id="org.ops.ui.solver.swt.DecisionsView"
            name="%view.name.open-decisions"
            restorable="true">
      </view>
      <view
            category="org.ops.ui"
            class="org.ops.ui.gantt.swt.GanttView"
            icon="icons/europa_empty.png"
            id="org.ops.ui.gantt.swt.GanttView"
            name="%view.name.gantt"
            restorable="true">
      </view>
      <view
            category="org.ops.ui"
            class="org.ops.ui.gantt.swt.DetailsView"
            icon="icons/europa_empty.png"
            id="org.ops.ui.gantt.swt.DetailsView"
            name="%view.name.details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name.nddl"
            icon="icons/nddl_editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.ops.ui.editor.swt.NddlEditor"
            id="EuropaPlugin.editors.NddlEditor">
         <contentTypeBinding
               contentTypeId="EuropaPlugin.nddlType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ops.ui.main.swt.NddlLauncher"
            delegateName="%launchConfigurationType.delegateName.nddl"
            id="EuropaPlugin.launch.nddl.configurationType"
            modes="run"
            name="%launchConfigurationType.name.nddl"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ops.ui.main.swt.NddlLauncherTabs"
            id="EuropaPlugin.launchConfigurationTabGroupNDDL"
            type="EuropaPlugin.launch.nddl.configurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.ops.ui.main.swt.NddlLaunchShortcut"
            description="%shortcut.description.run-nddl"
            icon="icons/run_nddl.png"
            id="EuropaPlugin.launch.nddl.shortcut"
            label="%shortcut.label.run-nddl"
            modes="run">
         <configurationType
               id="EuropaPlugin.launch.nddl.configurationType">
         </configurationType>
         <contextualLaunch>
         	<enablement>
            	<with variable="selection">
               		<count value="1" />
               		<iterate>
                 		<or>
                 			<test property="org.eclipse.debug.ui.matchesPattern"
                 				value="*.nddl" />
                 		</or>
               		</iterate>
            	</with>
         	</enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ops.ui.main.swt.NddlRunPerspective"
            icon="icons/run_nddl.png"
            id="org.ops.ui.main.swt.NddlRunPerspective"
            name="%perspective.name.run-nddl">
      </perspective>
   </extension>

</plugin>
